@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,600&display=swap');
body{
    background-image: url('../imagenes/AdobeStock_444432341.jpeg');
    background-size: cover;
    font-family: Montserrat;
}
h1{
    padding: 15px;
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
}
#divPrincipal{
    text-align: center;
    width: 80%;
    height: 600px;
    margin: auto;
    border: 1px solid blue;
    position: relative;
    background-color: white;
    border-radius: 20px;

}
.palabra{
    border: 1px solid red;
    position: absolute;
    padding: 5px;
    color: black;
    border-radius: 10px;
    transition: 0.1s;
}
.palabra span {
    color: blue;
}